html,
body {
  height: 100%;
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
  background: linear-gradient(0deg, #E4F2F7 0%, lightblue 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  h2 {
    margin: 1rem 0;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #00b0d3;
      border: 2px solid #00a1ce;
      color: white;
      padding: 1rem;
      border-radius: 0.3rem;
      text-shadow: 0 2px 2px gray;

      button,
      .btn {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
      }
    }

    li + li {
      margin-top: 2rem;
    }

    &.treatments-list {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  article {
    $bg-color-1: #93e8ff;
    $bg-color-2: #20daff;

    background: repeating-linear-gradient(
      45deg,
      $bg-color-1,
      $bg-color-1 10px,
      $bg-color-2 10px,
      $bg-color-2 20px
    );

    box-shadow: #00a1ce 576e 0 2px 8px 2px;
    margin: 2em 1em;
    border: 2px solid #00a1ce;
    padding: 1rem;
    border-radius: 0.3rem;

    h3 {
      text-shadow: 0 2px 2px gray;
      background: #00a1ce;
      color: white;
      margin: 0;
      padding: 1rem;
      border-radius: 0.3rem;
    }

    h5 {
      text-shadow: 0 0px 6px black;
      color: white;
      margin: 0;
      padding: 1rem;
      border-radius: 0.3rem;
    }

    p {
      color: #004b60;
      margin-bottom: 8px;
      margin-left: 8px;
    }
  }
}

header {
  padding: 12px;
  background-color: rgba(255,255,255,0.75)}

.navbar {
  background-color: white;
  justify-content: flex-start;
  padding: 1rem;
}

.navbar > * {
  margin-right: 2rem;
}

.navbar > :last-child {
  margin-left: auto;
}

.navbar > :first-child {
  margin-left: 2rem;
}

.nav-date {
  background-color: rgba(255,255,255,0.75);
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: darkgray;
  }

  a:hover {
    color: black;
  }

  & > * + * {
    margin-left: 1rem;
  }

  p {
    color: #004b60;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.cartPreview {
  background-color: #0dcaf0f2;
  border-radius: 0.3rem;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1000;
  max-width: 500px;
  position: fixed;
  top: 14%;
  right: 2%;

  .table-narrow {
    font-size: 0.9em;
    letter-spacing: -0.01em;
  
    td {
      padding-right: 10px;
    }
  }
}

.table strong {
  padding-left: 0px;
}

.home-image {
  width: 110%;
  border-radius: 20%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.home-image:hover {
  opacity: 0.7;
}